.modalwrapper {
    position: fixed;
    top: 0;
    left: 0;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
   
    .modalbox {
        position: relative;
        width: min-content;
        height: min-content;
        max-width: 98vw;
        max-height: 90vh;
    }
}