@import "tailwindcss";


* {
    box-sizing: border-box;
}


:root {
    --color-primary: #115e59;
    --sidebarwidth: 160px;
    --navbarheight: 60px;
    --sidenav: rgb(255, 255, 255);
    --maincolor: teal;
    --fontcolor: grey;
    --shortsidebar: 60px;
}

.bg-primary {
    background-color: var(--color-primary);
}

.text-primary {
    color: var(--color-primary);
}

.border-primary {
    border-color: var(--color-primary);
}

input[type="checkbox"] {
    accent-color: var(--color-primary);
}

*::-webkit-scrollbar {
    width: 3px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

*::-webkit-scrollbar-button {
    display: none;
}

.neu {
    background: #e0e4e7;
    box-shadow: 5px 5px 13px #b8c7dd,
        -5px -5px 5px #ffffff;
}

body {
    width: 100%;
    min-height: 100vh;
}

.attandencecard {
    @apply w-full flex justify-center items-center gap-5 relative before:absolute before:top-1/2 before:-left-[50px] before:w-[50px] before:h-0.5 before:bg-gray-400 before:content-[''];

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -50px;
        width: 20px;
        height: 20px;
        /* background: red; */
        border-radius: 50%;
        transform: translateY(-50%);
    }
}

.attandencecarde {
    @apply w-full flex justify-center items-center gap-5 relative;

}

.MuiChartsLegend-root.MuiChartsLegend-vertical.css-1yf54bd-MuiChartsLegend-root {
    display: none !important;
}

.material {
    width: calc(100% - var(--sidebarwidth));
    width: 100%;
    padding-left: var(--sidebarwidth);
    min-height: calc(100vh - var(--navbarheight));
    height: 100vh;
    padding-top: var(--navbarheight);
    background: rgb(240, 242, 246);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.membermodal {
    width: 680px;
    max-width: 100%;
    max-height: 95vh;
    border-radius: 10px 10px 5px 5px;
    background: teal;
    overflow: hidden;

    form,
    .whole {
        width: 100%;
        height: 100%;
        display: block;
        background: var(--color-primary);

        /* Header */
        h2,
        .modalhead {
            height: 45px;
            line-height: 45px;
            text-align: center;
            letter-spacing: 1px;
            color: white;
            font-size: 22px;
            font-weight: 600;
            width: 100%;
        }

        /* Body */
        .modalcontent {
            max-height: calc(95vh - 45px - 55px);
            overflow-y: auto;
            background: white;
            border-radius: 20px 20px 0 0;
            width: 100%;
            display: block;
            padding: 20px 10px 10px;
        }

        /* Footer */
        .btn,
        .modalfooter {
            height: 55px;
            line-height: 55px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 5px;
            padding: 0 10px;
            background: white;
            width: 100%;
        }
    }
}


.MuiChartsLegend-root.MuiChartsLegend-vertical {
    display: none;
}

/* global.css or index.css */
@media print {

    body {
        margin: 0;
        padding: 0;
    }

    .no-print {
        display: none !important;
    }

    .material {
        width: 100%;
        padding-left: 0 !important;
        min-height: 100vh !important;
        height: 100vh !important;
        padding-top: 0 !important;
        background: transparent !important;
        /* background: red !important; */
    }
}


@media (max-width: 600px) {
    .membermodal {
        max-height: 90vh;

        form,
        .whole {

            .modalcontent {
                max-height: calc(90vh - 45px - 55px);
                gap: 15px;
                padding: 20px 10px;
                padding-bottom: 10px;

            }
        }
    }
}