@import "tailwindcss";


* {
    box-sizing: border-box;
}


:root {
    --color-primary: #115e59;
    --sidebarwidth: 160px;
    --navbarheight: 60px;
    --sidenav: rgb(255, 255, 255);
    --maincolor: teal;
    --fontcolor: grey;
    --shortsidebar: 60px;
}

.bg-primary {
    background-color: var(--color-primary);
}

*::-webkit-scrollbar {
    width: 3px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

*::-webkit-scrollbar-button {
    display: none;
}

.neu {
    background: #e0e4e7;
    box-shadow: 5px 5px 13px #b8c7dd,
        -5px -5px 5px #ffffff;
}

body {
    width: 100%;
    min-height: 100vh;
}

.attandencecard {
    @apply w-full flex justify-center items-center gap-5 relative before:absolute before:top-1/2 before:-left-[50px] before:w-[50px] before:h-0.5 before:bg-gray-400 before:content-[''];

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -50px;
        width: 20px;
        height: 20px;
        /* background: red; */
        border-radius: 50%;
        transform: translateY(-50%);
    }
}

.attandencecarde {
    @apply w-full flex justify-center items-center gap-5 relative;

}

.MuiChartsLegend-root.MuiChartsLegend-vertical.css-1yf54bd-MuiChartsLegend-root {
    display: none !important;
}

.material {
    width: calc(100% - var(--sidebarwidth));
    width: 100%;
    padding-left: var(--sidebarwidth);
    min-height: calc(100vh - var(--navbarheight));
    height: 100vh;
    padding-top: var(--navbarheight);
    background: rgb(240, 242, 246);
}

.membermodal {
    width: 600px;
    max-width: 100%;
    height: max-content;
    max-height: 90vh;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 10px 10px 5px 5px;
    background: teal;

    form,
    .whole {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--color-primary);

        h2,
        .modalhead {
            width: 100%;
            padding: 5px 0;
            text-align: center;
            letter-spacing: 1px;
            color: white;
            font-size: 22px;
            font-weight: 600;
        }

        .modalcontent {
            background: white;
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 100%;
            max-height: 450px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            padding: 20px 10px;
            padding-bottom: 10px;
            /* border: 1px solid red; */

            &>div {
                display: flex;
                justify-content: end;
            }

            &>section {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }

        .btn,
        .modalfooter {
            display: flex;
            gap: 5px;
            justify-content: end;
            background: white;
            padding: 10px 4px;
            width: 100%;
        }
    }
}

.MuiChartsLegend-root.MuiChartsLegend-vertical {
    display: none;
}